<section class="side-widget comment-list-widget card bg-white mb-35">
  <div class="card-body p-35">
    <div class="d-flex mb-3 align-items-center">
      <h4 class="side-widget__title">Comments</h4>
      <div class="text-end small flex-fill">
        <a class="side-widget__link" href="/tag/">Show More
          <i class="mdi mdi-arrow-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-top">
          <div>
            <img class="rounded-circle me-2" width="46" height="46" src="/img/avatars/avatar.png" alt="avatar">
          </div>
          <div>
            <div class="small d-flex">
              <div class="me-auto fw-bold">Rizki Sasri Dwitama</div>
              <div>24 Juni 2022</div>
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur ...
            </div>
          </div>
        </a>
      </div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-top">
          <div>
            <img class="rounded-circle me-2" width="46" height="46" src="/img/avatars/avatar.png" alt="avatar">
          </div>
          <div>
            <div class="small d-flex">
              <div class="me-auto fw-bold">Rizki Sasri Dwitama</div>
              <div>24 Juni 2022</div>
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur ...
            </div>
          </div>
        </a>
      </div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-top">
          <div>
            <img class="rounded-circle me-2" width="46" height="46" src="/img/avatars/avatar.png" alt="avatar">
          </div>
          <div>
            <div class="small d-flex">
              <div class="me-auto fw-bold">Rizki Sasri Dwitama</div>
              <div>24 Juni 2022</div>
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur ...
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
