<section class="side-widget subscribe-widget card bg-primary mb-35">
  <div class="card-body p-35">
    <h2 class="form-title lh-1 display-7 fw-light text-white mb-3">
      TELL US<br/>
      ABOUT <br/>
      YOUR PROJECT
    </h2>
    <div class="text-white">
      <form action="" class="mb-0">
        <input type="email" name="" id="" class="form-control border-primary bg-white bg-opacity-75 mb-2" placeholder="Email">
        <input type="text" name="" id="" class="form-control border-primary bg-white bg-opacity-75 mb-2" placeholder="Your/Organization Name">
        <input type="text" name="" id="" class="form-control border-primary bg-white bg-opacity-75 mb-2" placeholder="Project Title">
        <textarea class="form-control border-primary bg-white bg-opacity-75 mb-2" name="" id="" rows="4" placeholder="Describe your projects.."></textarea>
        <div class="description small text-white text-opacity-75 lh-sm mb-3">We'll call you, as soon as possible. </div>
        <button class="btn btn-dark py-25 w-100 mb-0">Send Now</button>
      </form>
    </div>
  </div>
</section>
