<footer>
  <div>
    <div class="container">
    
    </div>
  </div>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-4">
          <a aria-label="Homepage" href="/">
            <img src="{% static 'img/logo/logo.svg' %}" style="height: 36px;">
          </a>
          <h4 class="h5 text-soft fw-light mt-3">
            By data scientists, for <span class="green">data scientists</span>
          </h4>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
      </div>
      <div class="border-bottom border-secondary"></div>
      <div class="row small">
        <div class="col-lg-6 d-flex align-items-center justify-content-lg-start justify-content-center">
          <div class="text-muted">© 2019 - 2022 - <a class="link-secondary" href="https://www.rizkisasri.com">Rizki Sasri Dwitama</a></div>
        </div>
        <div class="col-lg-6">
          <ul class="nav list-unstyled justify-content-center justify-content-lg-end d-flex">
            <li class="">
              <a class="btn-icon btn-icon-46px link-secondary" href="#">
                <i class="mdi mdi-24px mdi-twitter"></i>
              </a>
            </li>
            <li class="">
              <a class="btn-icon btn-icon-46px link-secondary" href="#">
                <i class="mdi mdi-24px mdi-github"></i>
              </a>
            </li>
            <li class="">
              <a class="btn-icon btn-icon-46px link-secondary" href="#">
                <i class="mdi mdi-24px mdi-facebook"></i>
              </a>
            </li>
            <li class="">
              <a class="btn-icon btn-icon-46px link-secondary" href="#">
                <i class="mdi mdi-24px mdi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
