{% extends '_base.njk' %}

{% block bodyclass %}bg-soft{% endblock %}

{% block content %}
  <div class="pt-35 pb-6">
    <div class="container">
      <div class="row">
        <div class="{% block main_column_class %}{% endblock %}">
          {% block main_column %}{% endblock %}
        </div>
        <div class="pb-6 mb-25 {% block side_column_class %}{% endblock %}">
          {% block side_column %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
