{% extends '_base_two_column.njk' %}

{% block bodyclass %}bg-light{% endblock %}

{% block header %}
  <section class="bg-dark text-white text-center pt-6 pb-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-6 mb-3">
            Software Development Process from the Inside: Everything You Need to Know
          </h1>
          <div class="">Posted On 24 February 2022 in <a class="link-light" href="#">Software Development</a></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block main_column_class %}col-lg-8{% endblock %}
{% block side_column_class %}col-lg-4{% endblock %}

{% block main_column %}
  <div class="row">
    <div class="col-12 mb-35">
      {% include "partials/_post_detail.njk" %}
    </div>
  </div>
{% endblock %}

{% block side_column %}
  <div class="position-sticky" style="top: 1.5rem">
    {% include "widgets/_post_author.njk" %}
    {% include "widgets/_post_list.njk" %}
  </div>
{% endblock %}
