{% extends '_base_one_column.njk' %}

{% block bodyclass %}bg-light{% endblock %}

{% block header %}
  <section class="bg-dark text-white text-center pt-6 pb-5 pb-lg-9">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-6 mb-3">
            Simpel Pages
          </h1>
          <div class="">Simple and Powerfull Content Management System</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block main_column_class %}col-lg-10 offset-lg-1{% endblock %}

{% block main_column %}
  <div class="row">
    <div class="col-12 mb-35 mt-lg-n9">
      {% include "partials/_projects_content.njk" %}
    </div>
  </div>
{% endblock %}
